body{
	background-color: 		#fff                ;
	color: 					#000                ;
    font-family:       		sans-serif  		  ;
    font-weight:        	100             	  ; 
    font-size:  			18px				    ;	
}

header{	
	height: 				25vh						; 
	color: 				    #000		;
	background-image: 	     none;
	background-size:  	 	cover           			;   
}


.nav-boton{
    background-color: #48E    ;
    color: #fff;
}












/* ------------------------    seccion sec02 ------------------------  */
#sec02{
    background-image: 			url(../img/mesmerizing-shot-crystal-blue-ocean-waves.jpg)		;
    text-align: center;
    padding-top: 30px;
    color: #fff;

}

/* ------------------------    seccion sec02 ------------------------  */
#sec01{
    background-color:           var(--color-bn2)                ;
    padding:                    5px 0                           ;
    position:                   sticky                          ;
    top:                        00px                            ;
    z-index:                    30                              ;
}
#sec01 .colorbar{
    background-color:          inherit                          ;
}


#sec01 .navbar-nav{
    background-color:        #48E;
}
#sec01 .logo{
    font-size:                  34px                            ;
    font-weight:                bold                            ;
    padding:                    5px 0                           ;
}
#sec01 .active{
    color:                      var(--color-vn1)                ;
}
#sec01 .nav-item:hover a{
    color:                      var(--color-vn1)                ;
}






/* ------------------------    seccion sec02 ------------------------  */
#sec02{
    margin-top:50px ;
    height: 30vh; 
}

#sec02 i{
    color: #48E;
    font-size: 2.7rem;
}

#sec02 p{
    color: grey;
    font-size: 0.9rem ;
}

/*---------------------   ------------------------------------------ */
#sec03{
    margin-top:50px ;
    height: 30vh; 
}


#sec03 i{
    color: #48E;
    font-size: 2.7rem;
}

#sec03 p{
    color: grey;
    font-size: 0.9rem ;
}
/*---------------------   ------------------------------------------ */
footer{
    background-color: #e3e5e7;
    color: #000;
    height: 50px;
}



/*---------------------  hero2 ------------------------------------------ */

#hero2{
	padding-top:				150px						;
	padding-bottom:				150px						;
	background-image: 			url(../img/mesmerizing-shot-crystal-blue-ocean-waves.jpg)		;
	background-repeat: 			no-repeat					;
	background-size: 			cover						;
	background-position: 		center						;
}
#hero2 h1{
	font-size:					100px						;
	font-weight:				bold						;
	color: 						#fff						;
}
#hero2 p{
	font-size: 					20px 						;
	color: 						#fff						;
}

/*---------------------   ------------------------------------------ */

.top-bar{
    background-color: #e9e9e9;   /* Gris claro */
    padding: 15px 0;
    font-size: 14px;
}

.top-text{
    color: #6c757d;   /* Gris texto */
    font-weight: 400;
}

.social-icon{
    color: #0d6efd;   /* Azul Bootstrap */
    margin-left: 15px;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s ease;
}

.social-icon:hover{
    color: #0a58ca;
    transform: scale(1.1);
}
